.c { 
	&_default {
	  max-width: 980px; 
	  width: 100%;
	  margin: auto !important;
	  display:  block;
	  
	  .fluid {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	  }
	}
}