<template>
  <v-layout row wrap class="login">	
    <v-flex d-flex xs12 sm6 md4>
        <v-card dark class="login-profile">
        	<chips :chipshow="chipshow" :chiptext="chiptext" :chipicon="chipicon" :chipcolor="chipcolor" class="login-chip"/>	
        	<ezabslogo :ezlogoshow="ezlogoshow" class="ezlogo" />
        	<imgloader :imgshow="imgshow" :profileimg="profileimg" class="login-imgloader"/>
        	<infoloader :infoshow="infoshow" :empname="empname" :position="position" class="login-infoloader"/>	
        </v-card>
        <div id="shadow"></div>
    </v-flex>
    <v-flex d-flex xs12 sm6 md4>
    	<v-card color="grey lighten-5" dark class="login-info"> 
        <!-- 	<v-card-text class="login-info-pos">
	        	<v-card-title class="headline txt-headline">SCAN MODE</v-card-title>
	           	<p class="txt-normal">EZ ABS BIOMETRICS</p>	
	        </v-card-text>  --> 
        </v-card>   
        <list class="login-list" />
    </v-flex>
    <logintimer class="timer-adjust"/>
  </v-layout>
</template>

<script lang="ts">
  import { Component, Vue, Prop } from 'vue-property-decorator'
  import chips from '@/components/chips.vue'
  import logintimer from '@/components/logintimer.vue'
  import ezabslogo from '@/components/ezabslogo.vue'
  import loader from '@/components/loader.vue'
  import imgloader from '@/components/imgloader.vue'
  import infoloader from '@/components/infoloader.vue'
  import list from	'@/components/list.vue'

  @Component({
  		components: {
  			chips,
  			logintimer,
  			ezabslogo,
  			loader,
  			imgloader,
  			infoloader,
  			list
  		}
  })
  export default class Display extends Vue {
  	chipshow = true
  	imgshow = false
  	infoshow = false
  	ezlogoshow = true
  	profileimg = false
  	timeoutID: any
  	chiptext = ""
  	chipicon = ""
  	chipcolor = ""
  	empname = ""
  	position = ""

  	created() {
  		this.simulation()
  		this.default()
	}

	mounted() {
		this.$store.commit('SET_LAYOUT', 'Clean')
	}

	simulation() {
		addEventListener('keypress', (e) => {
	       	switch(e.keyCode) {
	       		case 50:
	    			this.searchRec();
	    			setTimeout(()=> {
	    				let chipStatus = "Logged in!!    "
	    				this.test(chipStatus)
	    			}, 2000)
	    			break;
	    		case 51: 
	    			this.searchRec();
	    			setTimeout(()=> {
	    				let chipStatus = "Logged out!!    "
	    				this.test(chipStatus)
	    			}, 2000)
	    			break;
	    		default:
	    			break;		
	       	}
	    })
	}
	searchRec() {
		this.chipshow = false
	    this.imgshow = true
	    this.infoshow = true
	    this.ezlogoshow = false	
	    this.profileimg = false
	    this.chipcolor = "green"
	    this.chiptext = "Searching...."
	    this.chipicon = "search"
	    clearTimeout(this.timeoutID)
	}
	test(i = "") {
	    this.imgshow = false
	    this.infoshow = false
	    this.profileimg = true
	    this.chipcolor = "green"
	    this.chiptext = i
	    this.chipshow = true
	    this.chipicon = "check_circle"
	    this.empname = "RAMBO TAN"
	    this.position = "SOFTWARE ENGINEER"
	    this.timeoutID = setTimeout(()=> {
	    	this.default()
	   		}, 10000)
	}
	default() {
		this.chiptext = ""
		this.chipicon = ""
		this.chipcolor = ""
		this.empname = ""
	    this.position = ""
		this.chipshow = false
	    this.chipshow = true
	    this.imgshow = false
	    this.infoshow = false
	    this.ezlogoshow = true	
	    this.profileimg = false
	}
  }
</script>

<style lang="scss">
	.login {
		background-color: #cba1ff;
		background-image: linear-gradient(to right top, #88c0fd, #8dbbfe, #93b5fd, #9baffc, #a4a9f9);
		height: 480px;
		opacity: .8;
		&-profile {
			margin: 10.4% 0 0 13%;
			padding: 20px !important;
			width: 45%;
			height:64%;
			position: absolute;
			z-index: 99;
			background-color: #e5efff !important;
			-webkit-box-shadow: -8px 11px 77px -9px rgba(0,0,0,0.59);
			-moz-box-shadow: -8px 11px 77px -9px rgba(0,0,0,0.59);
			-webkit-clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);	
		}
		&-info {
			margin: 11% 0 0 1%;
			width: 35%;
			height:62%;
			position: absolute;
			color: #020101 !important;
			-webkit-clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%);
			&-pos {
				margin-top: 35%;
			}
		}
		&-chip {
			margin-top: .5%;
    		margin-left: 50%;
		}
		&-loader {
			position: absolute;
			top: -3.8%;
			left: -6.8%;
		}
		&-imgloader {
			margin-left: 20%;
			margin-top: 2%;
		}
		&-infoloader {
			color: black;;
		}
		&-list {
			margin: 22% 0 0 15%;
			z-index: 1;
		}

	} 
	.container {
		padding: inherit;
	}
	#shadow {
		position: absolute;
		z-index: -1;
		content: "";
		background: rgba(90, 93, 97, .28);
		margin: 11% 0 0 12%;
		width: 45%;
		height:64%;
		filter : blur(5px);
		-webkit-clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);	
	}
	.timer-adjust {
		position: absolute;
		margin-top: 3%;
		margin-left: 13%;
	}
	.ezlogo {
		margin-left: -17%;
		margin-top: 5%;
	}
</style>
