<template>
	<div class="home">
		<v-layout row wrap>
			<v-flex xs6>
				<b>Announcements</b>
				<v-container>	
					<v-layout row wrap v-if="loading">
						<v-flex xs12 class="text-xs-center">	
							<img src="@/assets/loaders/loader.gif" alt="aw">
						</v-flex>
					</v-layout>
			        <v-layout row wrap v-for="(details, index) in announcements" :key="index" v-else>
						<v-flex xs12>
				            <div>
				              <h3 class="headline mb-0">{{ details.headline }}</h3>
				              <div>{{ details.description }}</div>
				            </div>
				            <v-btn flat color="orange">Share</v-btn>
				            <v-btn flat color="orange">Explore</v-btn>
				        </v-flex>
			        </v-layout> 
			        <v-layout row wrap>
			        	<v-flex xs12 class="text-xs-center">
			        		<v-pagination v-model="pagination.page" :length="3" circle :disabled="pagination.disable" />
			        	</v-flex>
			        </v-layout>
		        </v-container>
			</v-flex>
			<v-flex xs6>
				<v-container>
					<v-layout row wrap>
						<v-flex xs12>
							<br/>
							<v-carousel height="315" hide-controls >	
						      <v-carousel-item height="315"
						      	v-for="(item,i) in items" 
						      	:key="i"
						        :src="item.src" />
						    </v-carousel>
						</v-flex>
				    </v-layout>
				</v-container>
			</v-flex>
		</v-layout>
	</div>
</template>

<script lang="ts">
	import { Component, Vue, Watch } from 'vue-property-decorator';

	@Component
	export default class Home extends Vue {
		baseUrl: string = process.env.BASE_URL
		loading: boolean = true

		pagination: any = {
			page: 1,
			disable: false
		}

		credentials: any  = {
			email: '',
			password: ''
		}

		announcements: any = [{
			headline: 'Kangaroo Valley Safari ',
			description: 'Located two hours south of Sydney in the Southern Highlands of New South Wales, ...',
			view: ''
		},{
			headline: 'Kangaroo Valley Safari ',
			description: 'Located two hours south of Sydney in the Southern Highlands of New South Wales, ...',
			view: ''
		},{
			headline: 'Kangaroo Valley Safari ',
			description: 'Located two hours south of Sydney in the Southern Highlands of New South Wales, ...',
			view: ''
		},{
			headline: 'Kangaroo Valley Safari ',
			description: 'Located two hours south of Sydney in the Southern Highlands of New South Wales, ...',
			view: ''
		}]

		items: any = [
	        { src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg' },
	        { src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg' },
	        { src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg' },
	        { src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg' }
	    ]

		valid: boolean = true

		emailRules = [ 
			(v: string) => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Invalid e-mail.'
	    ]

	    @Watch('pagination.page')
	    paginated(newVal: string, oldVal: string) {
	    	console.log(newVal, oldVal);
	    	this.pagination.disable = true
	    	this.loading = true

	    	setTimeout(() => {
	    		this.pagination.disable = false
	    		this.loading = false
	    	}, 2000)
	    }

	    mounted () {
	    	this.loading = false;
	    }
	}
</script>

<style lang="scss">
</style>
