<template>
	<div class="text-xs-center chips">
        <v-chip :color="chipcolor" text-color="white" class="chips-adjust">
			 {{ chiptext }}
			<v-chip class="chips-inner" v-show="chipshow === true "/>
			<v-scroll-x-transition>
				<v-icon right color="primary" class="chips-icon">{{ chipicon }}</v-icon>
			</v-scroll-x-transition>
		</v-chip>
    </div>
</template>

<script lang="ts">
	import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

	@Component
	export default class Chips extends Vue {
		@Prop({default: false}) chipshow!:boolean;
		@Prop({default: "PR no. ez125"}) chiptext!:string;
		@Prop({default: ""}) chipicon!:string;
		@Prop({default: "deep-purple lighten-5"}) chipcolor!:string;
	}

</script>

<style lang="scss">
	.chips {
		&-adjust {
			height: 25px !important;
			width: 120px;
			box-shadow: -5px 5px 9px 0px rgba(115, 111, 111, 0.5);
			-webkit-box-shadow: -5px 5px 9px 0px rgba(115, 111, 111, 0.5);
			-moz-box-shadow: 1-5px 5px 9px 0px rgba(115, 111, 111, 0.5);
		}
		&-inner {
			position: absolute;
			margin: .5% 0 0 64.5% !important;
			height: 21px !important;
			width: 28px;
		}
		&-icon {
			position: absolute;
			margin-left: 70% !important;
			margin-top: .4% !important;
			font-size: 23px !important;
			color: green;
			z-index: 99;
		}
	}
</style>