<template>
	<v-layout row wrap class="ezlogo">
	 	<v-container v-show="ezlogoshow">
	 		<img src="@/assets/img/Ezlogo.png" />
	 		<span class="pulse"></span>
	 	</v-container>
 	</v-layout>
</template>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator'

	@Component
	export default class ezlogo extends Vue {
		@Prop({default: true}) ezlogoshow!:boolean;
	}

</script>

<style lang="scss">
	.ezlogo {
	}	
	.pulse {
			position: absolute;
			top: 31.5%;
			left: 21%;
			width: 96px;
			height: 85.5px;
			border-radius: 50% !important;
			background: #d6d2cd00;
			box-shadow: 0 0 0 rgba(204,169,44, 0.4);
			animation: pulse 2s infinite;
		}
		@-webkit-keyframes pulse {
		 	0% {
		   		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		  	}
		  	70% {
		      	-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		  	}
		  	100% {
		      	-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		  	}
		} 
		@keyframes pulse {
		  	0% {
		    	-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		    	box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		 	 }
		 	70% {
		      	-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		     	 box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		  	}
		  	100% {
		      	-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		      	box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		  	}
		}
</style>