<template>
	<v-layout row wrap class="imgloader">
	 	<v-container v-show="imgshow == true">
	 		<v-flex xs6>
		        <v-card flat class="animated animated-background" />
	     	</v-flex>
	     	<!-- <v-flex xs6>
		        <v-card flat class="animated animated-background2" />
	     	</v-flex> -->
	 	</v-container>
	 	<v-container v-show="profileimg == true">
	     	<v-flex xs6>
	     		<img class="profile" src="@/assets/img/sampleid.jpg" alt="">
	     	</v-flex>
	 	</v-container>
 	</v-layout>
</template>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator'

	@Component
	export default class imgloader extends Vue {
		@Prop({default: false}) imgshow!:boolean;
		@Prop({default: false}) profileimg!:boolean;
	}

</script>

<style lang="scss">
	.imgloader {
	}
	.animated {
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: imageloader;
		animation-timing-function: linear;
		background: #f6f7f8;
		background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
		background-size: 800px 104px;
		&-background {
			width: 170px;
			height: 170px;
			margin-top: -10%;
			margin-left: -15%;
			border-radius: 100px;
		}
		&-background2 {
			width: 150px;
			height: 150px;
			margin-left: 2%;
			margin-top: -8px;
			-webkit-clip-path: polygon(16% 9%, 0% 20%, 0 60%, 17% 60%, 17% 66%, 84% 66%, 84% 59%, 100% 59%, 100% 20%, 83% 9%, 48% 16%);
			clip-path: polygon(16% 9%, 0% 20%, 0 60%, 17% 60%, 17% 66%, 84% 66%, 84% 59%, 100% 59%, 100% 20%, 83% 9%, 48% 16%);
		}
	}
	@keyframes imageloader{
		0%{
			background-position: -468px 0
		}
		100%{
			background-position: 468px 0
		}
	}
	.profile {
		border-style: none;
		margin-top: -5%;
	    width: 170px;
	    border-radius: 100px;
	    margin: -15% 0 0 -10%;
	}
</style>