<template>
	<v-layout row wrap class="infoloader">
	 	<v-container v-if="infoshow == true">
	 		<v-flex xs6>
		        <v-card flat class="animatedinfo animatedinfo-background">
		        	<v-card flat class="background-masker header-top" />
		        </v-card>
	     	</v-flex>
	 	</v-container>
	 	<v-container v-else>
	 		<v-flex xs6 >
		        <v-card-text class="infoloader-data ">
		        	<p class="headline txt-normal">{{ empname }}</p>
		           	<p class="txt-normal">{{ position }}</p>	
	        	</v-card-text>  
	     	</v-flex>
	 	</v-container>
 	</v-layout>
</template>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator'

	@Component
	export default class infoloader extends Vue {
		@Prop({default: false}) infoshow!:boolean;
		@Prop({default: "SCAN MODE"}) empname!:string;
		@Prop({default: "EZ ABS BIOMETRICS"}) position!:string;
	}

</script>

<style lang="scss">
	.infoloader {
		&-data {
			width: 250px;
			height:62%;
			margin-left: 5%;
			margin-top: -10%;
		}
	}
	.animatedinfo {
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: imageloader;
		animation-timing-function: linear;
		background: #f6f7f8;
		background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
		background-size: 800px 104px;
		&-background {
			margin-top: 5%;
			margin-left: 30% !important;
			width: 170px;
			height: 50px;
		}
	}
	@keyframes imageloader{
		0%{
			background-position: -468px 0
		}
		100%{
			background-position: 468px 0
		}
	}
	.background-masker.header-top {
		top: 50%;
		left: 0px;
		right: 0;
		height: 10px;
		background-color: #e5efff !important;
	}
	.txt {
		&-normal {
			text-align: center !important;
			margin-bottom: 0px !important;
			padding: 0 !important;
		}
	}
</style>