<template>
	<div class="list">
        <v-list three-line class="list-recent">
	        <template v-for="(item, index) in items">
	            <v-subheader
	              v-if="item.header"
	              :key="item.header"
	            >
	              {{ item.header }}
	            </v-subheader>

	            <v-divider
	              v-else-if="item.divider"
	              :inset="item.inset"
	              :key="index"
	            ></v-divider>

	            <v-list-tile
	              v-else
	              :key="item.title"
	              avatar
	              class="list-title"
	            >
	              <v-list-tile-avatar>
	                <img :src="item.avatar" class="list-img">
	              </v-list-tile-avatar>

	              <v-list-tile-content>
	                <v-list-tile-title v-html="item.title"></v-list-tile-title>
	                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
	              </v-list-tile-content>
	            </v-list-tile>
	        </template>
        </v-list>
    </div>
</template>

<script lang="ts">
	import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

	@Component
	export default class List extends Vue {
		data () {
			return {
				items: [
				    { header: 'Recent' },
				    {
					    avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
					    title: 'Rambo Tan',
					    subtitle: "Logged in"
				    },
				    { divider: true, inset: true },
				    {
					    avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
					    title: 'Jerry Manatad',
					    subtitle: "Logged out"
				    },
				    { divider: true, inset: true },
				    {
					    avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
					    title: 'Oui oui',
					    subtitle: "Logged out"
				    },
				    { divider: true, inset: true },
				    {
					    avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
					    title: 'Marites Putol',
					    subtitle: "Logged in"
				    },
				    { divider: true, inset: true },
				    {
					    avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
					    title: 'Lodi Petmalu',
					    subtitle: "Logged in"
				    }
				]
			}
		}
	}

</script>

<style lang="scss">
	.list {
		color: blue;
		&-recent {
			width: 185px !important;
			background-color: transparent !important;
		}
		&-img {
			width: 36px !important;
    		height: 36px !important;
    		margin-top: 15px;
		}
	}
	.v-list--three-line .v-list__tile {
		height: 42px !important;
		font-size: 14px !important;
	}
	.v-list__tile{
		&__sub-title {
			font-size: 12px !important;
		}
		&__title {
			line-height: 34px !important;
		}	
	}
</style>