<template>
	<v-flex class="timer-main-pos"> 
  		<div class="logintimer">{{ hrs }}</div>
	  	<div class="logintimer logintimer-min">{{ min }}</div>
	  	<div class="logintimer logintimer-sec">{{ sec }}</div>
	  	<v-card-text class="logintimer-date">{{ currentMonth }} {{ currentDate }}, {{ currentYear }}</v-card-text>
  	</v-flex>
  	
</template>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator'
	import { Months } from '@/assets/ts/Months.ts'

	@Component
	export default class logintimer extends Vue {
		hrs = ""
	  	min = ""
	  	sec = ""
	  	currentMonth = ""
	  	currentDate = 0
	  	currentYear = 0

	  	mounted() {
	  		this.startTime()
	  		this.checkDate()

	  	}
	  	startTime() {
	  		let today = new Date()
	  		let hrs = today.getHours()
	  		let min = today.getMinutes()
	  		let sec = today.getSeconds()
	  		this.hrs = this.checkTime(hrs)
	  		this.min = this.checkTime(min)
	  		this.sec = this.checkTime(sec)
	  		setTimeout(this.startTime,1000)
	  	}	
	  	checkTime(i: any) {
	  		if (i < 10) {
	  			i = "0" + i
	  		}
	  		return i
	  	}
	  	checkDate() {
	  		let currentDate = new Date()
	  		let dd = currentDate.getDate()
	  		let mm = currentDate.getMonth() 
	  		let year = currentDate.getFullYear()
	  		this.currentMonth = (Months[mm]).toUpperCase()
	  		this.currentDate = dd
	  		this.currentYear = year
	  	}
	}
	
</script>

<style lang="scss">
	.logintimer {
		background: #8f8a96;
		color:#fff;
		padding:2px 8px;
		border-radius:4px 10px;
		width:40px;
		font-size: 1.5rem;
		text-align: center;
		position: absolute;
		-moz-box-shadow: inset 0 0 10px #8e8484;;
		-webkit-box-shadow: inset 0 0 10px #8e8484;;
		box-shadow: inset 0 0 10px #8e8484;
				&-min {
		    margin-left:42px;
			}
		&-sec {
		    margin-left: 84px;
		    }
		&-date {
			margin-left: 115px;
			top: 2px;
			position: absolute;
			width:200px;
		}
	}
	.timer-main-pos {
	}
</style>
