<template>
    <component v-bind:is="layout"></component>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import Default from '@/layouts/Default.vue';
  import Clean from '@/layouts/CleanLayout.vue';

  @Component({
    components: {
      Default,
      Clean
    }
  })
  export default class App extends Vue {
    get layout() { 
      return this.$store.getters.layout 
    }
  }
</script>

<style lang="scss">

</style>