<template>
	<v-app>
	    <router-view />
    </v-app>
</template>


<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'

	@Component
	export default class Default extends Vue {}
</script>


<style lang="scss" scoped>
</style>