<template>
	<v-app>
	    <v-toolbar apps>
	      <div class="c_default">
	        <v-layout row wrap>
	          <v-flex xs6>
	            <v-toolbar-title class="headline">
	              <div class="font-weight-light">EzABS</div>
	            </v-toolbar-title>
	          </v-flex>
	        </v-layout>
	      </div>
	    </v-toolbar>
	    <v-content class="c_default">
	        <v-container fluid>
	          <router-view />
	        </v-container>
	    </v-content>
	    <v-footer
	      height="auto"
	      color="primary lighten-1">
	      <v-layout justify-center row wrap >
	        <v-flex primary lighten-2 py-3 text-xs-center white--text xs12>
	          &copy;2018 — <strong>EzABS</strong>
	        </v-flex>
	      </v-layout>
	    </v-footer>
    </v-app>
</template>


<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator'

	@Component
	export default class Default extends Vue {}
</script>


<style lang="scss" scoped>
	@import '@/assets/scss/global.scss';
</style>